@font-face {
    font-family: Futura;
    src: url(./Futura-Bold.ttf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Medium.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

*::selection{
    color: white;
    background-color: black;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
}


#nav{
position: fixed;
width: 100%;
padding: 25px;
z-index: 100;
display: flex;
justify-content: space-between;
align-items: flex-start;
}

#nav-part1{
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg{
    display: block;
}



#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#nav #nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 20px;
    margin-right: 45px;
}

#links{
    padding: 10px;
}

#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: white;
}


#nav #nav-part2 #icons i{
    font-weight: 100;
    font-size: 24px;
    margin: 0 20px;
}

#cursor{
    height: 150px;
    width: 150px;
    background-color: rgb(179, 119, 30);
    position: fixed;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 0;
}

#page_1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 1vw;
    padding-top: 20vh;
    /* background-color: olive; */
}

#page_1 h1{
    font-size: 30vh;
    font-family: Futura;
    text-transform: uppercase;
    line-height: 13vw;
    letter-spacing: 3px
}

#video-container{
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit:  cover;
}

#video-container #Play{
    padding:2vw 1vw;
    background-color: black;
    color: white;
    font-family: futura;
    font-size:1.2vw;
    font-weight: 100;
    position: fixed;
    text-transform: uppercase;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}


#page_2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 1vw;
}


#page_4{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 23vw;
    margin-top: -5vw;
}

#page_4 #leftside h1{
        font-family: Futura;
        font-size: 2vw;
        font-weight: 900;
        text-transform: uppercase;
        padding: 2vw;
}



#page_4 #right p{
    /* font-family: Futura;
    font-size: 10px;
    font-weight: 400;
    color: #333;
    padding: 2vw; */
    /* width: 50%; */
    margin-top: 0px;
  margin-bottom: 32px;
}
#page_4 #right button{
    border: none;
    outline: none;
    background-color: white;
    padding: .3vw .4vw;
    transition: .3s all ease;
}


#page_4 #right button:hover{
    border-bottom: 1px solid black;

}





#page_4 .page4section{
    height: 100%;
    width: 50%;
    overflow: hidden;
}
#page_2 .elm{
    height: 100%;
    width: 30%;
    overflow: hidden;
    margin-bottom: 3vw;
    position: relative;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}

#page_2 .elm .dets{

    width: 70%;
    height: 40px;
    background-color: rgb(230, 215, 15);
    border-radius: 50px;
    /* z-index: 9; */
    position: absolute;

    /* width: 70%;
    height: 40px;
    background-color: rgb(230, 215, 15);
    border-radius: 50px;
    z-index: 9;
    position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

#page_2 .elm .dets:hover{
    height: 200px;
    border-radius: 10px;
}


#page_2 .elm img{
    height: 100%;
   width: 100%;
   object-fit: cover;
   scale: 1.1;
}


#page_3{
    min-height:120vh;
    width: 100%;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.child{
    height: 54vh;
    width: 38vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.child img{
    height: 100%;

}



@media (max-width:600px) {

 

    #nav-part1{
        width: 150px;
    }
    #nav-part1 svg{
        width: 38px;
    }
    #nav #nav-part2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
   
    #nav #nav-part2 #links a{
        font-weight: 400;
        font-size: 15px;
       
    }
    
    
    #icons{
        display: flex;
        flex-direction: row;
    }
    #nav #nav-part2 #icons i{
        font-size: 15px;
     
    }
    


    #page_1{
        min-height: 70vh;
        padding: 0 3vw;
        padding-top: 24vh;
    }
    #page_1 h1{
        width: 100%;
        font-size: 7vh;
        letter-spacing: 3px;
    }

    #video-container{
        height: 25vh;
        width: 100%;
        margin-top: 3vw;
    }

    #video-container #Play{
        padding:6vw 4.2vw;
        font-size:3vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       
    }   

    #page_2{
        min-height: 100vh;
        width: 100%;
        position: relative;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
       
        padding: 3vw 2vw;
    }
    
    #page_2 .elm{
        height: 100vh;
        width: 100%;
        overflow: hidden;
        margin-bottom: 3vw;
    }
    
    #page_3{
        flex-direction: column;
     
    }
    
    .child{
        height: 50vh;
        width: 88vw;
        padding: 10vw;
    }
    
    .child img{
        height: 100%;
    
    }

    #page_4 .page4section {
        /* height: 100%; */
        width: 88%;
        /* overflow: hidden; */
    }

#page_4{
   flex-direction: column;
}

#page_4 #leftside h1{
    font-size: 7vw;
    width: 100%;
}
}

@media (max-width:800px) {

    #page_4 .page4section {
        /* height: 100%; */
        width: 88%;
        /* overflow: hidden; */
    }

#page_4{
   flex-direction: column;
}

#page_4 #leftside h1{
    font-size: 10vw;
    width: 100%;
}

    #nav-part1{
        width: 150px;
    }
    #nav-part1 svg{
        width: 38px;
    }
    #nav #nav-part2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
   
    #nav #nav-part2 #links a{
        font-weight: 400;
        font-size: 15px;
       
    }
    
    
    #icons{
        display: flex;
        flex-direction: row;
    }
    #nav #nav-part2 #icons i{
        font-size: 15px;
     
    }
    


    #page_1{
        min-height: 70vh;
        padding: 0 3vw;
        padding-top: 24vh;
    }
    #page_1 h1{
        width: 100%;
        font-size: 7vh;
        letter-spacing: 3px;
    }

    #video-container{
        height: 25vh;
        width: 100%;
        margin-top: 3vw;
    }

    #video-container #Play{
        padding:6vw 4.2vw;
        font-size:3vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       
    }   

    #page_2{
        min-height: 100vh;
        width: 100%;
        position: relative;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
       
        padding: 3vw 2vw;
    }
    
    #page_2 .elm{
        height: 100vh;
        width: 100%;
        overflow: hidden;
        margin-bottom: 3vw;
    }
    
    #page_3{
        flex-direction: column;
     
    }
    
    .child{
        height: 50vh;
        width: 88vw;
        padding: 10vw;
    }
    
    .child img{
        height: 100%;
    
    }

}